
body {
  margin: 0;
  left:0;
  font-family: 'Raleway', sans-serif;

}


.topimg {
    background-image: url('../images/gingerbread-1560711_1920.jpg');
    float: left;
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    color: white;
    font-size: 4.5rem;
    text-align: left;
    background-size: cover;
    margin-top: 50px;
    margin-bottom: 50px;
}
.topimg p{

font-size: 1.5rem;
max-width: 700px;
color:white;
background-color: rgba(0,0,0,0.55);

}
.imgorder a{
  background-image: url('../images/cake-pops-693646_1920.jpg');
  float: left;
  width: 100%;
  height: 400px;
  background-size:  cover;
  background-repeat: no-repeat;
  color: white;
  font-size: 4.5rem;
  text-align: left;

text-decoration: none;
margin-bottom: 100px;
  text-decoration:none ;
  margin-top: 20px;
    text-decoration-line: none;
}

footer {
text-align: center;
padding: 3px;
background-color:skyblue;
color: white;
  bottom: 0;
  position: fixed;
  width: 100%;

}




